<div class="container m-4 p-5 mx-auto flex" style="width: 100%; text-align: center;">
  <div >
    <h1>{{title}}
      <button (click)="addNewProduct()" class="btn btn-secondary">Add new product</button>
    </h1></div>
  <div class="row" style="width: fit-content;">
    <div class="card" *ngFor="let product of productList" style="width: 18rem">
      <div class="card p-4 m-4 pb-4" style="width: 18rem">
        <img [src]="product.imageUrl" class="card-img-top" alt="product" />
        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <input [(ngModel)]="product.name" placeholder="name" />
          <p class="card-text">
            {{product.description}}
          </p>
          <p class="card-text text-red" style="color: red;" *ngIf="product.price < 100; else bellow">
            $ {{ product.price }} (*On Discount)
          </p>
          <ng-template #bellow>
            <p class="card-text">$ {{ product.price }}</p>
          </ng-template>
          <!-- The view detail button shoud do  -->
          <div style="display: flex;">
          <button class="btn btn-primary" style="margin-right: 4px;"   (click)="onViewDetail(product.id)">
            View Details
          </button>
          <button class="btn btn-primary" style="margin-left: 5px" (click)="delate(product.id)">
           Delate
          </button>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
